body{
  background-color: #363C3588;
}

.header {
  background-color: black;
  height: 30vh;
}

.under-header {
  background-color: blue;
  height: 25vh;
}

.top-row{
  position: relative;
}
.button-area{
  margin-top: 1%;
  margin-right: 2%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}

#bot2 {
  width: 60%;
  margin-top: -30%;
  margin-left: 20%;
  padding: 5%;
  border: 5px #1A7690 solid;
  border-radius: 40%;
  background-color: #363C3588;
}






form.default input[type=text] {
  padding: 3px;
  margin-top: 5%;
  margin-left: 20%;
  border: 2px solid #363C3588;
  width: 55%;
  background: #f1f1f1;
  border-radius: 25px;
}

form.default button {
  background: red;
  color: white;
  border: 2px solid #363C3588;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 3px;
  font-size: 125%;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}